.swiper {
    width:100%;
    height: 100%;
}
.swiper-slide {
    height: 20rem;
}

.swiper-pagination-bullet-active {
    background: #ED431C;
    transform: scaleX(1.5);
    transition: transform 0.3s ease-in;
}
.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    margin: 0 6px !important;
}

.swiper-button-next, .swiper-button-prev {
    color: #ED431C;
}

.SwiperHeader {
    padding-bottom: 0.5vh;
    margin-bottom: 1.5vh;
}

.SwiperSeparator {
    border: #ED431C 2px solid;
    position: relative;
    left: -1000px;
    width: 10000px;
}